<div class="col-lg-12" id="detalle-dataset">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dataset</h3>
                    </div>
                    <div class="panel-body">
                        {%if dataset%}
                        <div id="nombre-dataset" class="form-group"> {{dataset.nombre}}</div>
                        <div id="descripcion-dataset" class="form-group">{{dataset.descripcion}} </div>
                        <!-- Change this to a button or input when using this as a form -->
                        {%endif%}
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 col-md-offset-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>