{% extends 'share/_default.html' %}
{% block add_css %}
<!-- DataTables CSS -->
<link href={{url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.css')}}  rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href={{url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.css')}} rel="stylesheet">
{% endblock %}

{% block add_js %}
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });

        $('li.btn-editar').click(function () {

        });
    });
</script>
{% endblock %}

<!-- (1) Cambiar aca el titulo de la página -->
{% block title %}
Definir variables - Dataset - Explotación de Información
{% endblock %}

{% block body %}
<!-- Contenido -->
{% include 'share/_nav-principal.html' %}

<div id="wrapper">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="center"> {{session.get('nombre_proyecto')}} > {{session.get('nombre_dataset')}} > Variables </h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form role="form" action="/proyecto/{{session.get('_id_proyecto')}}/dataset/{{session.get('_id_dataset')}}/agregar_variable" id="agregar" method="POST">
                        <fieldset>
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Dominio</th>
                                    <th>Nullable</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if variables %}
                                {% for variable in variables %}
                                <tr class="odd gradeX text-center">
                                    <td>{{variable.nombre}}</td>
                                    <td>{{variable.tipo}}</td>
                                    <td>{{variable.dominio}}</td>
                                    <td><i class="fa {%if variable.nullable %} fa-check-circle {%else%} fa-close {%endif%} fa-fw"></i></td>
                                    <td>
                                        <a type="button" class="btn-editar-variable btn btn-info"> <i class="fa fa-edit fa-fw"></i> </a>
                                        <a type="button" class="btn btn-danger" href="/proyecto/{{session.get('_id_proyecto')}}/dataset/{{session.get('_id_dataset')}}/eliminar_variable/{{variable._id}}"> <i class="fa fa-trash fa-fw"></i> </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                {% if generado %}
                                <tr class="odd gradeX text-center">
                                    <td>
                                        <input name="nombre" class="form-control" required/>
                                    </td>
                                    <td>
                                        <select name="tipo" class="form-control" required>
                                            <option value="">--Seleccione--</option>
                                            <option value="Entero">Entero</option>
                                            <option value="Flotante">Flotante</option>
                                            <option value="Texto">Texto</option>
                                            <option value="Fecha">Fecha</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input name="dominio" class="form-control" required/>
                                    </td>
                                    <td>
                                        <input name="null" type="checkbox" class="custom-checkbox"/>
                                    </td>
                                    <td>

                                        <button type="submit" class="btn btn-success"> <i class="fa fa-plus-circle fa-fw"></i> </button>
                                    </td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </fieldset>
                    </form>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div>
                <div class="btn-group col-md-offset-3 col-md-6">
                    <a href="/proyecto/{{session.get('_id_proyecto')}}/dataset/{{session.get('_id_dataset')}}/iniciar" class="btn btn-default col-md-3">Volver</a>
                    <a href="/proyecto/{{session.get('_id_proyecto')}}/dataset/{{session.get('_id_dataset')}}/definir_reglas" class="btn btn-success col-md-3">Siguiente</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
{%endblock%}