{% extends 'share/_default.html' %}

<!-- (1) Cambiar aca el titulo de la página -->
{% block title %}
Editar dataset - Explotación de Información
{% endblock %}

{% block body %}
<!-- Contenido -->
{% include 'share/_nav-principal.html' %}
<div class="col-lg-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Editar - Nombre y descripción</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/proyecto/{{session.get('_id_proyecto')}}/dataset/{{session.get('_id_dataset')}}/editar" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="nombre_dataset" placeholder="Nombre del dataset" required autofocus {%if nombre_dataset %} value="{{nombre_dataset}}"{%endif%}>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" type="text" name="descripcion_dataset" placeholder="Descripcion del dataset" required>{%if descripcion_dataset %}{{descripcion_dataset}}{%endif%}</textarea>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block">Siguiente</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 col-md-offset-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
{%endblock%}