{% extends 'share/_default.html' %}

<!-- (1) Cambiar aca el titulo de la página -->
{% block title %}
Importar dataset - Explotación de Información
{% endblock %}

{% block body %}
<!-- Contenido -->
{% include 'share/_nav-principal.html' %}
<div class="col-lg-12" id="detalle-dataset">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Importar Dataset</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/proyecto/{{session.get('_id_proyecto')}}/dataset/importar" method="POST" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="nombre_dataset" placeholder="Nombre del dataset" required autofocus {%if nombre_dataset %} value="{{nombre_dataset}}"{%endif%}>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" type="text" name="descripcion_dataset" placeholder="Descripcion del dataset" required></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="file" class="fileinput form-control" name="file_dataset">
                                </div>
                                <div class="col-lg-offset-4 col-lg-4">
                                    <button type="submit" class="btn btn-lg btn-success btn-block">Importar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 col-md-offset-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
{%endblock%}