{% extends 'share/_default.html' %}

<!-- (1) Cambiar aca el titulo de la página -->
{% block title %}
Inicio - Explotación de Información
{% endblock %}

{% block add_css %}
{% endblock %}

{% block add_js %}
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
{% endblock %}

{% block body %}
<!-- Contenido -->
{% include 'share/_nav-principal.html' %}
{% set _id_proyecto = session.get('_id_proyecto')%}
<div id="wrapper">
    <div class="row">
        <div class="col-lg-12">
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="center"> {{session.get('nombre_proyecto')}} > Datasets</h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Creación</th>
                            <th>Ultima modificación</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if datasets %}
                        {% for d in datasets %}
                        <tr class="odd gradeX">
                            <td>{{d.nombre}}</td>
                            <td>{{d.descripcion}}</td>
                            <td>{{d.fecha_creacion}}</td>
                            <td>{{d.ult_modificacion}}</td>
                            <td><a type="button" class="btn btn-success" href="/proyecto/{{_id_proyecto}}/dataset/{{d._id}}"> <i class="fa fa-folder-open-o fa-fw"></i> </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <a type="button" href="/proyecto/{{_id_proyecto}}/dataset/importar" class="btn btn-success"> Importar Dataset <i class="fa fa-upload fa-fw"></i></a>
            <a type="button" href="/proyecto/{{_id_proyecto}}/dataset/iniciar" class="btn btn-success"> Generar Dataset <i class="fa fa-edit fa-fw"></i></a>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.wrapper -->
<!-- ./ Contenido-->
{% endblock %}
