<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %} Explotacion de Informacion {% endblock %}</title>
        <!-- Bootstrap Core CSS -->
        <link href={{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}} rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href={{url_for('static', filename='vendor/metisMenu/metisMenu.min.css')}}  rel="stylesheet">

        <!-- Custom CSS -->
        <link href={{url_for('static', filename='dist/css/sb-admin-2.css')}} rel="stylesheet">
        <link href={{url_for('static', filename='dist/css/custom-exp-inf.css')}} rel="stylesheet">

        <!-- Custom Fonts -->
        <link href={{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}} rel="stylesheet" type="text/css">

        <!-- DataTables CSS -->
        <link href={{url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.css')}}  rel="stylesheet">
        <!-- DataTables Responsive CSS -->
        <link href={{url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.css')}} rel="stylesheet">

        {% block add_css %} {% endblock %}
    </head>

    <body>
        {% include 'share/_mensajes.html'%}
        <!-- jQuery -->
        <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{url_for('static', filename='vendor/metisMenu/metisMenu.min.js')}}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{url_for('static', filename='dist/js/sb-admin-2.js')}}"></script>

        <!-- DataTables JavaScript -->
        <script src="{{url_for('static', filename='vendor/datatables/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.js')}}"></script>
        {% block body %}{% endblock %}
        {% block add_js %}{% endblock %}
    </body>
</html>
