 <footer class="footer-algoritmos navbar-fixed-bottom" role="navigation">
     <div class="row">
         <div class="col-lg-6" style="max-height: 200px;min-height: 200px;">
             <div class="panel panel-default" style="max-height: 200px;min-height: 200px;">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="col-lg-12" >
                        <ul class="nav nav-tabs">
                            {%for clasificacion in clasificaciones%}
                            <li {%if loop.index == 1%}class="active"
                                 {%else%} class=" "{%endif%}>
                                <a href="#tab{{clasificacion.codigo}}" data-toggle="tab"><i class="fa fa-{{clasificacion.icono}} fa-fw"></i>{{clasificacion.nombre}}</a>
                            </li>
                            {%endfor%}
                        </ul>
                        <div class="tab-content">
                            <br />
                            {%for clasificacion in clasificaciones%}
                            <div {%if loop.index == 1%} class="tab-pane fade active in"
                                 {%else%} class="tab-pane fade"{%endif%}
                                 id="tab{{clasificacion.codigo}}">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="list-group">
                                        {%for algoritmo in algoritmos[clasificacion.codigo]%}
                                            <li class="btn-algoritmo list-group-item" codigo="{{algoritmo.codigo}}"><i class="fa fa-{{algoritmo.icono}} fa-fw"></i>{{algoritmo.nombre}}</li>
                                        {%endfor%}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
             </div>
         </div>
         <div class="col-lg-6">
             <div class="panel panel-default" style="max-height: 200px;min-height: 200px;">
                <div class="panel-heading">
                    <h4 id="nombre-algoritmo">Descripcion</h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" >
                    <p id="descripcion-algoritmo"></p>
                </div>
                <!-- /.panel-body -->
             </div>
         </div>
     </div>
 </footer>
<script>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
 <script>
     jQuery(document).ready(function ($) {
        $(document).ready(function () {
             $('li.btn-algoritmo').click(function () {
                $.getJSON($SCRIPT_ROOT + '/_traer_algoritmo', {
                    codigo: $(this).attr('codigo'),
                }, function(data) {
                    if(data.codigo == 200){
                        nombre = document.getElementById('nombre-algoritmo');
                        descripcion = document.getElementById('descripcion-algoritmo');
                        nombre.innerHTML = data.algoritmo_nombre;
                        descripcion.innerHTML = data.algoritmo_descripcion;
                    }
                    else {
                        $.notify(data.mensaje, data.category);
                    }

                });
             });
        });
    });
 </script>