{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissable col-lg-4 col-lg-offset-4" style="z-index: 2000; position: fixed;" role="alert"> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
      {% endfor %}
    {% endif %}
{% endwith %}
