<!-- Navigation -->
<!-- Nav para que la pagina empiece despues del nav y no abajo -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="border-right:#e7e7e7 solid 1px" href="/proyecto/index">Explotacion de Información</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-left">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Proyecto <i class="fa fa-folder fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/proyecto/index">
                        <i class="fa fa-folder-open fa-fw"></i> Abrir Proyecto
                    </a>
                </li>
                <li>
                    <a href="/proyecto/crear">
                        <i class="fa fa-plus-circle fa-fw"></i> Nuevo Proyecto
                    </a>
                </li>
                <!--{%if session.get('_id_proyecto')%}-->
                <!--<li>-->
                    <!--<a data-toggle="modal" data-target="#cerrar_proyecto">-->
                        <!--<i class="fa fa-close fa-fw"></i> Cerrar Proyecto-->
                    <!--</a>-->
                <!--</li>-->
                <!--{%endif%}-->
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
        {%if session.get('_id_proyecto')%}
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Dataset <i class="fa fa-bar-chart-o fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/proyecto/{{session.get('_id_proyecto')}}/dataset/index">
                        <i class="fa fa-folder-open fa-fw"></i> Abrir Dataset
                    </a>
                </li>
                <li>
                    <a href="/proyecto/{{session.get('_id_proyecto')}}/dataset/iniciar">
                        <i class="fa fa-edit fa-fw"></i> Generar Dataset
                    </a>
                </li>
                <li>
                    <a href="/proyecto/{{session.get('_id_proyecto')}}/dataset/importar">
                        <i class="fa fa-upload fa-fw"></i> Importar Dataset
                    </a>
                </li>
                <!--{%if session.get('_id_dataset')%}-->
                <!--<li>-->
                    <!--<a data-toggle="modal" data-target="#cerrar_dataset">-->
                        <!--<i class="fa fa-close fa-fw"></i> Cerrar Dataset-->
                    <!--</a>-->
                <!--</li>-->
                <!--{%endif%}-->
            </ul>
            <!-- /.dropdown-user -->
        </li>
        {%endif%}
        <!-- /.dropdown -->
    </ul>
    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        {%if session.get('admin')%}
        <li>
            <a href="/admin/index">
                Administrador <i class="fa fa-users fa-fw"></i>
            </a>
        </li>
        {%endif%}
        <!-- /.dropdown -->
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{session.get('nombre_completo')}} <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out fa-fw"></i> Salir
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
</nav>
