{%if datasets%}
<div class="navbar-default sidebar" style="border-right: 1px solid transparent" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
 <script>
     jQuery(document).ready(function ($) {
        $(document).ready(function () {
             $('.btn-dataset').click(function () {
                $.getJSON($SCRIPT_ROOT + '/_traer_dataset', {
                    _id_dataset: $(this).attr('_id_dataset'),
                }, function(data) {
                    if(data.codigo == 200){
                        container = document.getElementById('detalle-dataset');
                        nombre = document.getElementById('nombre-dataset');
                        descripcion = document.getElementById('descripcion-dataset');
                        nombre.innerHTML = data.nombre;
                        descripcion.innerHTML = data.descripcion;
                        container.removeAttribute('hidden');
                    }
                    else {
                        $.notify(data.mensaje, data.category);
                    }

                });
             });
        });
     });
 </script>
{%endif%}