<!-- Modal -->
<div class="modal fade" id="modal-crear-regla" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form role="form" method="post" action="/proyecto/{{session.get('_id_proyecto')}}/dataset/{{session.get('_id_dataset')}}/agregar_regla">
        <fieldset>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Crear Regla</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="regla_id_dataset" name="_id_dataset">
                        <div class="form-group">
                            <input class="form-control" type="text" id="regla_nombre" name="nombre" placeholder="Nombre de la regla" required autofocus>
                        </div>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a type="button" class="btn btn-default" href="#panel-body" data-toggle="collapse">Expresion <span class="caret"></span></a>
                                </div>
                                <div id="panel-body" class="panel-body collapse">
                                    <div class="list-group">
                                    {% if variables %}
                                    {% for variable in variables %}
                                        <div class="list_item">
                                            <div class="row col-lg-12">
                                                <label>{{variable.nombre}}:</label>
                                            </div>
                                            <div class="row col-lg-12">
                                                {%if variable.tipo == "Entero" or variable.tipo == "Flotante"%}
                                                    <select ></select>
                                                    <input type="number">
                                                {%elif variable.tipo == "Fecha"%}
                                                    Desde: <input name="{{variable.nombre}}-minimo" type="date">
                                                   Hasta: <input name="{{variable.nombre}}-maximo" type="date">
                                                {%elif variable.tipo == "Texto"%}
                                                    <div class="dual-list list-left col-md-5"> <h5 style="text-align:center"> Posibles </h5>
                                                        <div class="well text-right">
                                                            <ul class="list-group" id="valoresASeleccionar">
                                                                {%for valor in variable.dominio%}
                                                                    <li class="list-group-item" value="{{valor}}">
                                                                        {{valor}}
                                                                    </li>
                                                                {%endfor%}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="list-arrows col-md-2 text-center">
                                                        <button class="btn btn-default btn-sm move-right" title="Mover a seleccionados">
                                                            <i class="glyphicon glyphicon-chevron-right small"></i>
                                                        </button>
                                                        <button class="btn btn-default btn-sm move-left" title="Mover a no seleccionados">
                                                            <i class="glyphicon glyphicon-chevron-left small"></i>
                                                        </button>
                                                    </div>
                                                    <div class="dual-list list-right col-md-5"> <h5 style="text-align:center"> Seleccionados </h5>
                                                        <div class="well">
                                                            <ul type="input" class="list-group" id="{{variable.nombre}}-valores" name="{{variable.nombre}}-valores">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {%endif%}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <input class="form-control" type="number" id="regla_cantidad" name="cantidad" placeholder="Cantidad de registros" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <input class="form-control" type="number" id="regla_porcentaje" name="porcentaje" placeholder="Porcentaje de registros" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-info">Crear</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </fieldset>
    </form>
</div>
<script>
    $('body').on('click', '.list-group .list-group-item', function () {
            $(this).toggleClass('active');
        });
    $('.list-arrows button').click(function () {
        var $button = $(this), actives = '';
        if ($button.hasClass('move-left')) {
            actives = $('.list-right ul li.active');
            actives.clone().appendTo('.list-left ul');
            actives.remove();
        } else if ($button.hasClass('move-right')) {
            actives = $('.list-left ul li.active');
            actives.clone().appendTo('.list-right ul');
            actives.remove();
        }
    });
    $('.dual-list .selector').click(function () {
        var $checkBox = $(this);
        if (!$checkBox.hasClass('selected')) {
            $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
            $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
        } else {
            $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
            $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
        }
    });
    $('[name="SearchDualList"]').keyup(function (e) {
        var code = e.keyCode || e.which;
        if (code == '9') return;
        if (code == '27') $(this).val(null);
        var $rows = $(this).closest('.dual-list').find('.list-group li');
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });

    $('[name=""]')
</script>

