{% extends 'share/_default.html' %}
{% block add_css %}
<!-- DataTables CSS -->
<link href={{url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.css' )}} rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href={{url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.css' )}} rel="stylesheet">
{% endblock %}

{% block add_js %}
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
{% endblock %}

<!-- (1) Cambiar aca el titulo de la página -->
{% block title %}
Editar regla - Dataset - Explotación de Información
{% endblock %}

{% block body %}
<!-- Contenido -->
{% include 'share/_nav-principal.html' %}

<div id="wrapper">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="center"> {{session.get('nombre_proyecto')}} >
                    {{session.get('nombre_dataset')}} > Reglas </h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form role="form"
                          action="/proyecto/{{session.get('_id_proyecto')}}/dataset/{{session.get('_id_dataset')}}/agregar_variable"
                          id="agregar" method="POST">
                        <fieldset>
                            <table width="100%" class="table table-striped table-bordered table-hover"
                                   id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>Variable</th>
                                    <th>Condiciones</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if regla %}
                                {% for regla in reglas %}
                                <tr class="odd gradeX text-center">
                                    <td>{{regla.nombre}}</td>
                                <tr>
                                    {%for c in regla.condiciones_desc%}
                                    <td>
                                        {{c}}
                                    </td>
                                    {%endfor%}
                                </tr>
                                <td>
                                    <a type="button" class="btn-editar-regla btn btn-info"> <i
                                            class="fa fa-edit fa-fw"></i> </a>
                                    <a type="button" class="btn btn-danger"
                                       href="/proyecto/{{session.get('_id_proyecto')}}/dataset/{{session.get('_id_dataset')}}/eliminar_regla/{{regla._id}}">
                                        <i class="fa fa-trash fa-fw"></i> </a>
                                </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </fieldset>
                    </form>
                    <!-- /.table-responsive -->
                    <button class="btn btn-success btn-crear-regla" data-toggle="modal"
                            data-target="#modal-crear-regla">
                        Crear regla <i class="fa fa-plus fa-fw"></i>
                    </button>
                    <div class="form-group" style="float: right;">
                        <label for="cantidad-registros">Total registros:</label>
                        <input id="cantidad-registros" class="form-control" type="number" placeholder="Cantidad">
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div>
                <div class="btn-group col-md-offset-3 col-md-6">
                    <a href="/proyecto/{{session.get('_id_proyecto')}}/dataset/{{session.get('_id_dataset')}}/definir_variables"
                       class="btn btn-default col-md-3">Volver</a>
                    <a href="/proyecto/{{session.get('_id_proyecto')}}/dataset/{{session.get('_id_dataset')}}/definir_reglas"
                       class="btn btn-success col-md-3">Siguiente</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

{% include 'regla/_regla.html'%}
{%endblock%}