<!-- Modal -->
<div class="modal fade" id="modal-editar-proyecto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form role="form" method="post" action="/proyecto/editar">
        <fieldset>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Editar proyecto</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="editar_id_proyecto" name="_id_proyecto">
                        <div class="form-group">
                            <input class="form-control" type="text" id="editar_nombre_proyecto" name="nombre_proyecto" placeholder="Nombre del proyecto" required autofocus>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" type="text" id="editar_descripcion_proyecto" name="descripcion_proyecto" placeholder="Descripcion del proyecto" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-info">Editar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </fieldset>
    </form>
</div>