<!-- Modal -->
<div class="modal fade" id="modal-eliminar-proyecto" tabindex="-1" role="dialog" aria-labelledby="modal-label-eliminar-proyecto" aria-hidden="true">
    <form role="form" method="post" action="/proyecto/eliminar">
        <fieldset>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="modal-label-eliminar-proyecto"> <i class="fa fa-trash fa-fw"></i> Eliminar proyecto </h4>
                    </div>
                    <div class="modal-body">
                        ¿Quieres eliminar el proyecto "<strong id="eliminar_nombre_proyecto"></strong>"?
                        <input type="hidden" id="eliminar_id_proyecto" name="_id_proyecto" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </fieldset>
    </form>
</div>