{% extends 'share/_default.html' %}
<!-- (1) Cambiar aca el titulo de la página -->
{% block title %}
    Crear proyecto - Explotacion de Informacion
{% endblock %}
{% block body %}
<!-- Contenido -->
    {% include 'share/_nav-principal.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Crear proyecto</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/proyecto/crear" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" type="text" name="nombre_proyecto" placeholder="Nombre del proyecto" required autofocus>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" type="text" name="descripcion_proyecto" placeholder="Descripcion del proyecto" required></textarea>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block">Crear</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./ Contenido-->
{% endblock %}
