{% extends 'share/_default.html' %}

<!-- (1) Cambiar aca el titulo de la página -->
{% block title %}
Inicio - Explotación de Información
{% endblock %}

{% block add_css %}
<!-- DataTables CSS -->
<link href={{url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.css')}}  rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href={{url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.css')}} rel="stylesheet">
{% endblock %}

{% block add_js %}
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
{% endblock %}

{% block body %}
<!-- Contenido -->
{% include 'share/_nav-principal.html' %}
<div id="wrapper">
    <div class="row">
        <div class="col-lg-12">
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="center"> Proyectos </h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Creación</th>
                            <th>Ultima modificación</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if proyectos %}
                        {% for proyecto in proyectos %}
                        <tr class="odd gradeX">
                            <td>{{proyecto.nombre}}</td>
                            <td>{{proyecto.descripcion}}</td>
                            <td>{{proyecto.fecha_creacion}}</td>
                            <td>{{proyecto.ult_modificacion}}</td>
                            <td>
                                <a type="button" class="btn btn-success" href="/proyecto/{{proyecto._id}}">
                                    <i class="fa fa-folder-open-o fa-fw"></i>
                                </a>
                                <button class="btn btn-info btn-editar-proyecto" data-toggle="modal" data-target="#modal-editar-proyecto" _id_proyecto="{{proyecto._id}}"
                                        nombre_proyecto="{{proyecto.nombre}}" descripcion_proyecto="{{proyecto.descripcion}}">
                                    <i class="fa fa-edit fa-fw"></i>
                                </button>
                                <button class="btn btn-danger btn-eliminar-proyecto" data-toggle="modal" data-target="#modal-eliminar-proyecto" _id_proyecto="{{proyecto._id}}" nombre_proyecto="{{proyecto.nombre}}">
                                    <i class="fa fa-trash fa-fw"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <a type="button" href="/proyecto/crear" class="btn btn-success"> Crear proyecto </a>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.wrapper -->
<!-- ./ Contenido-->


{% include 'proyecto/_editar.html' %}
{% include 'proyecto/_eliminar.html' %}

<script src="{{url_for('static', filename='js/validar-proyecto.js')}}"></script>

{% endblock %}
