{% extends 'share/_default.html' %}
<!-- (1) Cambiar aca el titulo de la página -->
{% block title %}
    Inicio - Explotación de Información
{% endblock %}

{% block body %}
<!-- Contenido -->
{% include 'share/_nav-principal.html' %}

<div id="wrapper">
    <div class="row">
        <div class="col-lg-12">
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="center"> Usuarios del sistema </h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Apellido</td>
                            <td>Mail</td>
                            <td>Acciones</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if usuarios %}
                        {% for usuario in usuarios%}
                        <tr class="odd gradeX">
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.apellido }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>
                                <button {%if usuario.autorizado%} class="btn-autorizar btn col-lg-4 btn-danger"{%else%} class="btn-autorizar btn col-lg-4 btn-success"{%endif%} type="button" id="autorizar_usuario" _id_usuario="{{ usuario._id}}" autorizado={{ not usuario.autorizado }}> {%if usuario.autorizado%} desautorizar {% else %} autorizar {%endif%}</button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.wrapper -->

<!-- ./ Contenido-->
{% endblock %}

{% block add_js %}
<!-- DataTables JavaScript -->
<script src="../static/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../static/vendor/datatables-responsive/dataTables.responsive.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

<script>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
    jQuery(document).ready(function ($) {
        $(document).ready(function () {
             $('.btn-autorizar').click(function () {
                $.getJSON($SCRIPT_ROOT + '/_autorizar_usuario', {
                    _id_usuario: $(this).attr('_id_usuario'),
                    autorizado: $(this).attr('autorizado')
                }, function(data) {
                    location.reload();
                });
             });
        });
    });
</script>
{% endblock %}

