<!DOCTYPE html>
<html>
<head>
	<title></title>
<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">

<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway');

h4{font-family: 'Raleway', sans-serif;color: white;text-shadow: 2px 2px 4px black;}
h1{ text-shadow: 3px 3px 5px black;font-family: 'Libre Baskerville', serif; margin-bottom:20px;margin-top: 50px;color: white;}
body{background: #2B3E29}
label{color: white;}
.contenedorInterno{margin-left: 180px;}
p{color: white;}
</style>

</head>
<body class="container row">

	
	  <div class="col-lg-3"></div>		
	  <div class="col-lg-9"> 
	  	
		<h1 class="text-center">Proyecto: {{nombreProyecto}}</h1>
	
		<h4 class="text-center">Defina las variables y sus dominios</h4>
		<div class="row contenedorInterno">
			<div class="form-group col-lg-7">
			    <label for="exampleInputEmail1">descripcion</label>
			    <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre">
	  		</div>
			<div class="col-lg-7">
				<p>tipo de dato</p>
				<select class="form-control form-control-md ">
				  <option>Entero</option>
				  <option>Texto</option>
				  <option>Flotante</option>
				  <option>Fecha</option>
				</select>	
			</div>

			<div class="col-lg-12">
				<p>Rango a definir (aun no esta planteado como mostrarlo)</p>
			</div>

	  		<div class="col-lg-3">
	  			<div class="form-check">
				  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
				  <label class="form-check-label" for="exampleRadios1">Target</label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
				  <label class="form-check-label" for="exampleRadios2">Input</label>
				</div>
	  		</div>

			<div class="form-check col-lg-3">
			  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
			  <label class="form-check-label" for="defaultCheck1">acepta null?</label>
			</div>

		</div>

	  	

	  <div class="text-center rows">
	  	<button type="button" class="btn btn-primary col-lg-3">Anterior</button>
		<button type="button" class="btn btn-primary col-lg-3">Siguiente</button>
	  </div>
		
		
	  </div>
	  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>




