<!DOCTYPE html>
<html>
<head>
	<title></title>
<link
	href="{{url_for('static',filename='css/bootstrap.min.css')}}"
	rel="stylesheet" id="bootstrap-css">

<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway');

h4{font-family: 'Raleway', sans-serif;color: white;text-shadow: 2px 2px 4px black;}
h1{ text-shadow: 3px 3px 5px black;font-family: 'Libre Baskerville', serif; margin-bottom:20px;margin-top: 50px;color: white;}
body{background: #2B3E29}
label{color: white;}
</style>

</head>
<body class="">
		
	<form class="container row" action="/crearProyecto" method="post" >
		<input type="hidden" name="idUsuario" value='{{idUsuario}}'>
		<div class="col-lg-3"></div>		
		  <div class="col-lg-9"> 
		  	
			<h1 class="text-center">Crear Proyecto</h1>
		
			<h4 class="text-center">Pongale un nombre y una breve descripcion</h4>

		  <div class="form-group ">
		    <label for="exampleInputEmail1">Nombre</label>
		    <input type="text" name="nombreProyecto" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre">
		  </div>
		  <div class="form-group " >
		    <label for="exampleFormControlTextarea1">Descripcion</label>
		    <textarea class="form-control" name="descripcionProyecto" id="exampleFormControlTextarea1" rows="3" placeholder="descripcion"></textarea>
		  </div>

		  <div class="text-center rows">
		  	<a href="/index" type="submit" class="btn btn-primary col-lg-3">Anterior</a>
			<button type="submit" class="btn btn-primary col-lg-3">Siguiente</button>
		  </div>
			
			
		  </div>
	
	</form>
	  
	  
	  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>




