<!doctype html>
<html>
   <body>

         <div>{{name}}</div>
         <div>{{apellido}}</div>
         <div>{{email}}</div>
         <div>{{password}}</div>
         <div>{{repetPassword}}</div>
   </body>
</html>
