<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Admin - Explotacion de Informacion</title>
</head>
<body>
    <div>
        <span> Esta es la pagina de inicio!</span>
    </div>
    <div>
        <table>
            <tr>
                <td>nombre</td>
                <td>apellido</td>
                <td>mail</td>
                <td>autorizado</td>
                <td>acciones</td>
            </tr>
            {% if usuarios %}
                {% for usuario in usuarios%}
                    <tr>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido }}</td>
                        <td id="email">{{ usuario.email }}</td>
                        <td id="autorizado">{{ usuario.autorizado }}</td>
                        <td>
                            <button type="button" id="autorizar_usuario" email="{{ usuario.email}}" autorizado="{{ usuario.autorizado }}" >autorizar</button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% block body %}{% endblock %}
        </table>
    </div>
    <script type=text/javascript src="../static/js/jquery.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $(function() {
        $('#autorizar_usuario').bind('click', function() {
          $.getJSON($SCRIPT_ROOT + '/_autorizar_usuario', {
            email: $('#autorizar_usuario').attr('email'),
            autorizado: $('#autorizar_usuario').attr('autorizado'),
          }, function(data) {
            alert(data);
            $("#result").text(data.result);
          });
          return false;
        });
      });
    </script>
</body>
</html>