<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ingreso - Explotacion de Informacion</title>
</head>
{% include 'share/_mensajes.html' %}
<body>
    <div>
        <form action="/send_login" method="post">
            <input type="email" name="email" id="inputEmail" placeholder="e-mail" required autofocus>
            <input type="password" name="contrasenia" id="inputContrasenia" placeholder="contrasenia" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Recuerdame
                </label>
            </div>
            <button type="submit">Ingresar</button>
        </form>
        <div>
            ¿No tenes cuenta? <a href="/signin"> Registrate</a>
        </div>
    </div>
</body>
</html>