<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Registro - Explotacion de Informacion</title>
</head>
{% include 'share/_mensajes.html' %}
<body>
    <div>
        <form action="/send_signin" method="post">
            <input type="text" name="nombre" id="inputNombre" placeholder="nombre" required autofocus>
            <input type="text" name="apellido" id="inputApellido" placeholder="apellido" required>
            <input type="email" name="email" id="inputEmail" placeholder="e-mail" required>
            <input type="password" name="contrasenia" id="inputContrasenia" placeholder="contrasenia" required>
<!--            <input type="password" name="repetir_contrasenia" id="inputRepetirContrasenia" placeholder="repetir contrasenia" required>-->
            <!--<button type="button" onclick="ingresar()">Registrarme</button>-->
            <button type="submit">Registrarme</button>
        </form>
    </div>
</body>
</html>