{% extends 'share/_default.html' %}
{% block add_css %}
<!-- DataTables CSS -->
<link href={{url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.css')}}  rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href={{url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.css')}} rel="stylesheet">
{% endblock %}

{% block add_js %}
{% endblock %}

<!-- (1) Cambiar aca el titulo de la página -->
{% block title %}
Definir reglas - Dataset - Explotación de Información
{% endblock %}

{% block body %}
<!-- Contenido -->
{%set operadores = ['==','<','>','<=','>=','!=']%}
<div id="contenedor_principal">
    <h1> Agregar Regla Test </h1>
     <button class=".btn-agregar-variable btn btn-success" id="btn-agregar-variable"> <i class="fa fa-plus-circle fa-fw"></i></button>
</div>

<div class="hidden">
    <select class="form-control select_variable" id="select_variable">
        {%for v in variables%}
            <option value="{{v.nombre}}">{{v.nombre}}</option>
        {%endfor%}
    </select>
    <button class="btn btn-success" id="btn_agregar_model"> <i class="fa fa-plus-circle fa-fw"></i></button>
    <div id="expresiones">
        <div id="expresion1">
        </div>
    </div>
    <div id="condicion_Texto">
        <div class="dual-list list-left col-md-5"> <h5 style="text-align:center"> Posibles </h5>
            <div class="well text-right">
                <ul class="list-group" id="valoresASeleccionar">
                </ul>
            </div>
        </div>
        <div class="list-arrows col-md-2 text-center">
            <button class="btn btn-default btn-sm move-right" title="Mover a seleccionados">
                <i class="glyphicon glyphicon-chevron-right small"></i>
            </button>
            <button class="btn btn-default btn-sm move-left" title="Mover a posibles">
                <i class="glyphicon glyphicon-chevron-left small"></i>
            </button>
        </div>
        <div class="dual-list list-right col-md-5"> <h5 style="text-align:center"> Seleccionados </h5>
            <div class="well">
                <ul type="input" class="list-group">
                </ul>
            </div>
        </div>
    </div>

</div>

<script>
    $('body').on('click', '.list-group .list-group-item', function () {
            $(this).toggleClass('active');
        });
        $('.list-arrows button').click(function () {
            var $button = $(this), actives = '';
            if ($button.hasClass('move-left')) {
                actives = $('.list-right ul li.active');
                debugger;
                actives.clone().appendTo('.list-left ul');
                actives.remove();
            } else if ($button.hasClass('move-right')) {
                actives = $('.list-left ul li.active');
                actives.clone().appendTo('.list-right ul');
                actives.remove();
            }
        });
        $('.dual-list .selector').click(function () {
            var $checkBox = $(this);
            if (!$checkBox.hasClass('selected')) {
                $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
                $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
            } else {
                $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
                $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
            }
        });
        $('[name="SearchDualList"]').keyup(function (e) {
            var code = e.keyCode || e.which;
            if (code == '9') return;
            if (code == '27') $(this).val(null);
            var $rows = $(this).closest('.dual-list').find('.list-group li');
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
</script>

<script>
    function test(){
        var cuerpo = document.getElementById('expresiones');
        var expresion = document.createElement('div');
        expresion.setAttribute('class','form-group');
        // expresion.setAttribute('id','expresion'+i);
        var select_variable = document.getElementById('select_variable_model').cloneNode(true);
        select_variable.setAttribute('class','form-control select_variable');
        expresion.appendChild(select_variable);
        cuerpo.appendChild(expresion);
    }

    function cargar_condicion(nombre){
        valores = "a";
        if(tipo=='Texto'){
            cargar_condicion_texto(valores);
        }
    }

    function cargar_condicion_texto(nombre,valores){
        var modelo = document.getElementById('condicion_texto').cloneNode(true);
    }

    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var variables;


    function cargar_variables(){
        var select_list = document.getElementById('select_variable').cloneNode(deep=true);
        document.getElementById('contenedor_principal').appendChild(select_list);
    }

    function cargar_tipo(tipo, valores){
        var elemento = document.getElementById('condicion_' + tipo).cloneNode(deep=true);
        debugger;
        if(tipo == "Texto"){
            var eValores = elemento.getElementsByTagName('ul')[0];
            for(i=0;i<valores.length;i++){
                eValor = document.createElement('li');
                eValor.setAttribute('class','list-group-item');
                eValor.innerHTML = valores[i];
                eValores.appendChild(eValor);
            }
        }
        document.getElementById('contenedor_principal').appendChild(elemento);
    }

    function traer_variable(variables, nombre){
        for(i = 0; i < variables.length; i++) {
            if(variables[i].nombre === nombre){
                console.log('Variable:');
                console.log(variables[i].nombre);
                return variables[i];
            }
        }
    }



    jQuery(document).ready(function ($) {
    $(document).ready(function () {

        function traer_variables(){
            var _id = "{{session.get('_id_dataset')}}";
            var result;
            $.ajax({
                url: $SCRIPT_ROOT + '/_traer_variables',
                dataType: 'json',
                async: false,
                data: {_id_dataset: _id},
                success: function(data) {
                    if (data.codigo == 200) {
                        console.log('Variables:');
                        console.log(data.variables);
                        result = data.variables;
                    } else {
                        result = [];
                    }
                }
            });
            return result;
        }
        function cargar_variables(){
            var select_list = document.getElementById('select_variable').cloneNode(deep=true);
            document.getElementById('contenedor_principal').appendChild(select_list);
        }

        cargar_variables();
        var variables = traer_variables();
        $('#contenedor_principal').on('change', '.select_variable', function(){
            var nombre = $(this).find(':selected').val();
            console.log('Seleccionar variable:' + nombre);
            var variable = traer_variable(variables, nombre);
            console.log('Variable:' + variable);
            var tipo = variable.tipo;
            var valores = variable.dominio;
            console.log('Tipo:' + tipo);
            console.log('Valores:' + valores);
            cargar_tipo(tipo, valores);
        });

    });
});
</script>
{%endblock%}
