{% extends 'share/_default.html' %}
{% block title %} Login - Explotación de Información{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Por favor ingresar</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/login" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" required {% if email %} value="{{email}}"{% endif %}{%if not email%} sautofocus {%endif%}>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contrasenia" name="contrasenia" type="password" value="" required {% if email %} autofocus {% endif %}>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Recuerdame">Recuerdame
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block">Ingresar</button>
                        </fieldset>
                    </form>
                    <div class="form-group">
                        ¿No tenes cuenta? <a href="/signin"> Registrate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}