{% extends 'share/_default.html' %}
<!-- (1) Cambiar aca el titulo de la página -->
{% block title %}
    Ingreso - Explotacion de Informacion
{% endblock %}
{% block body %}
<!-- Contenido -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Por favor registrarse</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/signin" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Nombre" name="nombre" type="text" value="{{nombre}}"autofocus required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Apellido" name="apellido" type="text" value="{{apellido}}" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" value="{{email}}" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contrasenia" name="contrasenia" type="password" value="" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirmar contrasenia" name="contrasenia2" type="password" value="" required>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-info btn-block"> Registrarse </button>
                        </fieldset>
                    </form>
                    <div class="form-group">
                        ¿Ya tenés cuenta? <a href="/"> Inicia sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./ Contenido-->
{% endblock %}


